
.centro {
    text-align: center;

}

.quebra {
    padding-inline: 10%;
}

.linha {
    border-width: 10;
    border-style: solid;
    flex-direction: column;
    display: flex;
    border-color: dimgray;
}

.fundo {background-color: silver;}

.fonte {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

.fundo2 {background-color: rgb(36, 35, 35); font-display: white;}